[run]
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
    cis_interface/tests/scripts/python_model.py
    cis_interface/command_line.py
    cis_interface/interface/scanf.py

[report]
sort = Cover
ignore_errors = True
exclude_lines =
    pragma: no cover
    pragma: debug
    def __repr__
    if 0:
    if False:
    if __name__ == .__main__.:
    pragma: Python 3
