
# Copies of test input files
cis_interface/tests/scripts/gcc_model.out

# Intermediate docs
README.rst
docs/build
docs/source/cis_interface*.rst
docs/source/modules.rst

# Coverage
.coverage
htmlcov

# temp for storing notes, whatever, etc.   not managed
tmp/

# Temporary file copies
*~

# Compiled things - not managed
*.pyc
*.o

# Tooling things - not managed
*.vscode

**/tags


# Packaging things
cis_interface.egg-info
dist/


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
