[submodule "cis_interface/rapidjson"]
	path = yggdrasil/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "yggdrasil/FSPM2020_yggdrasil_workshop"]
	path = yggdrasil/demos/fspm2020
	url = https://github.com/cropsinsilico/FSPM2020_yggdrasil_workshop
	branch = no-submodule
[submodule "yggdrasil/demos/CiS2021-hackathon"]
	path = yggdrasil/demos/CiS2021-hackathon
	url = https://github.com/cropsinsilico/CiS2021-hackathon
