chevron
flask
jsonschema==3.2.0
matplotlib
numpy>=1.13.0
pandas
pyperf
psutil
python-rapidjson
pyyaml
pyzmq
requests
scipy==1.7.2; platform_system == 'Linux'
scipy; platform_system != 'Linux'
six
sympy
sysv_ipc; platform_system != 'Windows'
unyt
GitPython
