GitPython
antlr4-python3-runtime==4.10  # [pip]
chevron
deprecation
flask
matplotlib       # [pip]
numpy>=1.13.0
pandas
psutil
pyperf
pyyaml
pyzmq
requests
scipy
six
sympy>=1.10
sysv_ipc; platform_system != 'Windows'
toml
unyt
