cmake
czmq
r-rcpp<=1.0.3; platform_system == 'Darwin'
r-base
r-bit64
r-r6
r-reticulate
r-zeallot
r-units
zeromq
c-compiler; platform_system == 'Windows'
cxx-compiler; platform_system == 'Windows'
m2w64-gcc-fortran; platform_system == 'Windows'
m2w64-toolchain_win-64; platform_system == 'Windows'
