astropy       # [astropy]
# pika>=1.0.0   # [rmq]
pygments      # [pygments]
trimesh       # [trimesh]
libroadrunner<2.0.7  # [pip,sbml]
ccache; platform_system != 'Windows'  # [conda]
# mpi4py        # [mpi]
# openmpi; platform_system == 'Darwin'  # [conda,mpi]
# mpich; platform_system != 'Windows'  # [conda,mpi]
# mpich; platform_system == 'Linux'  # [conda,mpi]
# msmpi; platform_system == 'Windows'  # [conda,mpi]
