cmake; platform_system != 'Windows'  # [conda,c]
czmq             # [conda,zmq,c]
matplotlib       # [conda]
r-rcpp<=1.0.3; platform_system == 'Darwin'  # [conda,R]
r-base           # [conda,R]
r-bit64          # [conda,R]
r-r6             # [conda,R]
r-reticulate     # [conda,R]
r-zeallot        # [conda,R]
r-units          # [conda,R]
zeromq           # [conda,zmq,c]
# c-compiler; platform_system == 'Windows'    # [conda,c]
# cxx-compiler; platform_system == 'Windows'  # [conda,c]
m2w64-gcc-fortran; platform_system == 'Windows'       # [conda,fortran]
m2w64-toolchain_win-64; platform_system == 'Windows'  # [conda,fortran]
fortran-compiler; platform_system != 'Windows'  # [conda,fortran]
