cmake; platform_system != 'Windows'  # [conda,c]
compiler-rt; platform_system == 'Darwin'  # [conda,c]
czmq             # [conda,zmq]
fortran-compiler; platform_system != 'Windows'  # [conda,fortran]
ghostscript      # [conda,images]
git              # [conda]
juliaup          # [conda,julia]
lz4              # [conda,zmq]
m2w64-gcc-fortran; platform_system == 'Windows'  # [conda,fortran]
m2w64-toolchain_win-64; platform_system == 'Windows'  # [conda,fortran]
make; platform_system != 'Windows'  # [conda,c]
matplotlib-base  # [conda]
mpich; platform_system == 'Linux'  # [conda,mpi]
msmpi; platform_system == 'Windows'  # [conda,mpi]
openmpi; platform_system == 'Darwin'  # [conda,mpi]
r-base           # [conda,r]
r-bit64          # [conda,r]
r-r6             # [conda,r]
r-reticulate     # [conda,r]
r-units          # [conda,r]
r-zeallot        # [conda,r]
zeromq           # [conda,zmq]
