binutils         # [conda,c]
c-compiler       # [conda,c]
cmake>=3.16      # [conda,c]
cxx-compiler     # [conda,c]
czmq             # [conda,zmq]
fortran-compiler  # [conda,fortran]
ghostscript      # [conda,images]
git              # [conda]
juliaup          # [conda,julia]
lz4              # [conda,zmq]
make             # [conda,c]
matplotlib-base  # [conda]
mpich; platform_system == 'Linux'  # [conda,mpi]
msmpi; platform_system == 'Windows'  # [conda,mpi]
ninja            # [conda,c]
openmpi; platform_system == 'Darwin'  # [conda,mpi]
pkgconfig        # [conda,c]
r-base>3.5       # [conda,r]
r-bit64          # [conda,r]
r-devtools; platform_system != 'Windows'  # [conda,r]
r-r6             # [conda,r]
r-reticulate     # [conda,r]
r-units          # [conda,r]
r-zeallot        # [conda,r]
zeromq           # [conda,zmq]
