cmake; platform_system != 'Windows'  # [conda,c]
czmq             # [conda,zmq,c]
fortran-compiler; platform_system != 'Windows'  # [conda,fortran,c]
lz4              # [conda,zmq,c]
m2w64-gcc-fortran; platform_system == 'Windows'  # [conda,fortran,c]
m2w64-toolchain_win-64; platform_system == 'Windows'  # [conda,fortran,c]
make; platform_system != 'Windows'  # [conda,c]
matplotlib-base  # [conda]
mpich; platform_system == 'Linux'  # [conda,mpi]
msmpi; platform_system == 'Windows'  # [conda,mpi]
openmpi; platform_system == 'Darwin'  # [conda,mpi]
r-base           # [conda,r]
r-bit64          # [conda,r]
r-r6             # [conda,r]
r-reticulate     # [conda,r]
r-units          # [conda,r]
r-zeallot        # [conda,r]
zeromq           # [conda,zmq,c]
