astropy          # [astropy]
biopython        # [seq]
mpi4py           # [mpi]
openpyxl         # [excel]
pandas           # [excel]
pika>=1.0.0      # [rmq]
pillow           # [images]
pygments         # [pygments]
trimesh          # [trimesh]
