astropy          # [astropy]
biopython        # [seq]
mpi4py           # [mpi]
pika>=1.0.0      # [rmq]
pillow           # [images]
pygments         # [pygments]
pytorch          # [pytorch]
trimesh          # [trimesh]
