# Debug settings
# Set debugging level to your liking, or turn off if you prefer
# one of: CRITICAL      ERROR   WARNING         INFO    DEBUG   NOTSET
[debug]
ygg: INFO
rmq: WARNING
client: INFO

# RMQ server info
[rmq]
namespace: yggdrasil
host: localhost
vhost:
user: guest
password: guest

# Parallelization info
[parallel]
cluster:

# MATLAB settings
[matlab]
startup_waittime_s: 10
disable_engine: False
